doctype html
html(lang='en')
	head
		title Activity
		link(href ='css/bootstrap.min.css' type='text/css' rel='stylesheet')
		include bottomNavbarStyle
		include fonts
		link(href ='css/activity.css' type='text/css' rel='stylesheet')
		link(href ='css/bottomNavbar.css' type='text/css' rel='stylesheet')
		link(href ='css/topNavbar.css' type='text/css' rel='stylesheet')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
	body
		include topNavbar
		div.categorie
			h1.text-center Kies een activiteit
			form(method='post', action='/activity', autocomplete="off")
				.col-md-8.col-md-push-2.col-xs-12
					.col-md-4.col-xs-6
						.eachCategorie
							input.img(type="image" alt="Login" src="img/baby_icon.jpg" style="max-width:100%;", name="categorie", value="Op te passen")
							h4 Oppassen
					.col-md-4.col-xs-6
						.eachCategorie
							input.img(type="image" alt="Login" src="img/cooking-icon-png.jpg" style="max-width:100%;", name="categorie", value="te koken")
							h4 Koken
					.col-md-4.col-xs-6
						.eachCategorie
							input.img(type="image" alt="Login" src="img/shopping.png" style="max-width:100%;", name="categorie", value="boodschappen te doen")
							h4 Boodschappen
					.col-md-4.col-xs-6
						.eachCategorie
							input.img(type="image" alt="Login" src="img/car.png" style="max-width:100%;", name="categorie", value="te vervoeren")
							h4 Vervoer
					.col-md-4.col-xs-6
						.eachCategorie
							input.img(type="image" alt="Login" src="img/coffee.png" style="max-width:100%;", name="categorie", value="Koffie te drinken")
							h4 Koffie
					.col-md-4.col-xs-6
						.eachCategorie.ietsAnders
							input.img#ignoreThis(type="image" alt="Login" src="img/other.png" style="max-width:100%;", name="categorie", value="Iets anders")
							h4 Iets anders
							input.form-control(type='text', id='categorie' onchange="changeradioother()")
		include bottomNavbar
	script(src='http://momentjs.com/downloads/moment-with-locales.js')
	script(src='http://momentjs.com/downloads/moment-timezone-with-data.js')
	script(src='js/jquery-3.2.1.js')
	script(src='js/activity.js')