doctype html
html(lang='en')
  head
    title Activity
    link(href ='css/bootstrap.min.css' type='text/css' rel='stylesheet')
  body
  .container
    h1 Choose an activity
    .radio
        label
        input(type='radio', name='optradio')
        | Groceries
    .radio
        label
        input(type='radio', name='optradio')
        | Drive me
    .radio.disabled
        label
        input(type='radio', name='optradio')
        | Baby sit
    .radio.disabled
        label
        input(type='radio', name='optradio')
        | Cook

