doctype html
html(lang='en')
	head
		title Activity
		link(href ='css/bootstrap.min.css' type='text/css' rel='stylesheet')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
	body
		.container
			h1 These friends are already using the app, would you like to add then to your network?
				.container
					h1 Choose the friends you would like to add
					form(action='/addFriends', method='post', role='form')
						each user in users
							.checkbox
								label
									input(type='checkbox', value= user.id, name='friends')
									h3 #{user.username}
						button.btn.btn-lg(type='submit') Add Friends

