.wrapper.navbar-fixed-bottom
	.box.box1
		if title === "friends"
			a(href="/addFriends")
				<i class="material-icons" style="color:#2c7bb4;">group_add</i>
				h5(style="color:#2c7bb4;") Vrienden
		else
			a(href="/addFriends")
				<i class="material-icons">group_add</i>
				h5 Vrienden			
	.box.box2
		if title === "Activities"
			a(href="/index")
				i.fa.fa-bars(aria-hidden='true', style="color:#2c7bb4;")
				h5(style="color:#2c7bb4;") Activiteiten
		else 
			a(href="/index")
				i.fa.fa-bars(aria-hidden='true')
				h5 Activiteiten
	.box.box3
		a(href="/Activity")
			<i class="material-icons" style="color:#27b948;">control_point</i>
			h5(style="color:#27b948;") Plannen
	.box.box4
		if title === 'chat'
			a(href="/chat")
				i.fa.fa-comments-o(aria-hidden='true', style="color:#2c7bb4;")
				h5(style="color:#2c7bb4;") Berichten
		else
			a(href="/chat")
				i.fa.fa-comments-o(aria-hidden='true')
				h5 Berichten
	.box.box5
		if title === "profile"
			a(href="/profile")
				i.fa.fa-user-circle(aria-hidden='true', style="color:#2c7bb4;")
				h5(style="color:#2c7bb4;") Profiel
		else 
			a(href="/profile")
				i.fa.fa-user-circle(aria-hidden='true')
				h5 Profiel