.wrapper.navbar-fixed-bottom
	.box.box1
		a(href="/addFriends")
			i.fa.fa-user-plus(aria-hidden='true')
			h5 Vrienden
	.box.box2
		a(href="/index")
			i.fa.fa-list(aria-hidden='true')
			h5 Activiteiten
	.box.box3
		a(href="/Activity")
			i.fa.fa-plus-circle(aria-hidden='true')
			h5 Plannen
	.box.box4
		a(href="/chat")
			i.fa.fa-comments(aria-hidden='true')
			h5 Berichten
	.box.box5
		a(href="/profile")
			i.fa.fa-user(aria-hidden='true')
			h5 Profiel