doctype html
html(lang='en')
	head
		title Chat feed
		link(href ='css/bootstrap.min.css' type='text/css' rel='stylesheet')
		include bottomNavbarStyle
		include fonts
		link(href ='css/bottomNavbar.css' type='text/css' rel='stylesheet')
		link(href ='css/topNavbar.css' type='text/css' rel='stylesheet')
		link(href ='css/chatFeed.css' type='text/css' rel='stylesheet')
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
	body
		include topNavbar
		.container
			.container.app
				.row.app-one
					.col-md-12.col-sm-4.side
						.side-one
							.row.searchBox
								.col-sm-12.searchBox-inner
									.form-group.has-feedback
										input#searchText.form-control(type='text', name='searchText', placeholder='Search')
										span.form-control-feedback
											i(class= 'fa fa-search' aria-hidden="true")
							.row.sideBar
								.row.sideBar-body
									.col-md-3.col-sm-3.col-xs-3.sideBar-avatar
										.avatar-icon
											img(src='img/emma.png')
									.col-md-7.col-sm-9.col-xs-9.sideBar-main
										.row
											.col-md-4.col-sm-8.col-xs-8.sideBar-name
												span.name-meta <a href='/chat'>Emma</a>
											.col-md-4.col-sm-4.col-xs-4.pull-right.sideBar-time
												span.time-meta.pull-right 18:18
										.row
											.col-md-4.col-sm-8.col-xs-8
												span <a href='/chat'>Uitnodiging van Pierre</a>
								.row.sideBar-body
									.col-md-3.col-sm-3.col-xs-3.sideBar-avatar
										.avatar-icon
											img.image(src='img/avatars/avatar-four.png')
									.col-md-7.col-sm-9.col-xs-9.sideBar-main
										.row
											.col-md-4.col-sm-8.col-xs-8.sideBar-name
												span.name-meta Rawan
											.col-md-4.col-sm-4.col-xs-4.pull-right.sideBar-time
												span.time-meta.pull-right 18:18
										.row
											.col-md-4.col-sm-8.col-xs-8
												span Hoe gaat het?
								.row.sideBar-body
									.col-md-3.col-sm-3.col-xs-3.sideBar-avatar
										.avatar-icon
											img(src='img/avatars/avatar-three.png')
									.col-md-7.col-sm-9.col-xs-9.sideBar-main
										.row
											.col-md-4.col-sm-8.col-xs-8.sideBar-name
												span.name-meta Felix
											.col-md-4.col-sm-4.col-xs-4.pull-right.sideBar-time
												span.time-meta.pull-right 18:18
										.row
											.col-md-4.col-sm-8.col-xs-8
												span Hoi!
								.row.sideBar-body
									.col-md-3.col-sm-3.col-xs-3.sideBar-avatar
										.avatar-icon
											img(src='img/avatars/avatar-one.png')
									.col-md-7.col-sm-9.col-xs-9.sideBar-main
										.row
											.col-md-4.col-sm-8.col-xs-8.sideBar-name
												span.name-meta Anuj
											.col-md-4.col-sm-4.col-xs-4.pull-right.sideBar-time
												span.time-meta.pull-right 18:18
										.row
											.col-md-4.col-sm-8.col-xs-8
												span Ik zal een beetje laat zijn
								.row.sideBar-body
									.col-md-3.col-sm-3.col-xs-3.sideBar-avatar
										.avatar-icon
											img(src='img/avatars/avatar-two.png')
									.col-md-7.col-sm-9.col-xs-9.sideBar-main
										.row
											.col-md-4.col-sm-8.col-xs-8.sideBar-name
												span.name-meta Fabio
											.col-md-4.col-sm-4.col-xs-4.pull-right.sideBar-time
												span.time-meta.pull-right 18:18
										.row
											.col-md-4.col-sm-8.col-xs-8
												span Heb je vandaag plezier gehad?
								.row.sideBar-body
									.col-md-3.col-sm-3.col-xs-3.sideBar-avatar
										.avatar-icon
											img(src='img/avatars/avatar-ten.png')
									.col-md-7.col-sm-9.col-xs-9.sideBar-main
										.row
											.col-md-4.col-sm-8.col-xs-8.sideBar-name
												span.name-meta Pascal
											.col-md-4.col-sm-4.col-xs-4.pull-right.sideBar-time
												span.time-meta.pull-right 18:18
										.row
											.col-md-4.col-sm-8.col-xs-8
												span Over tien minuten ben ik bij je
								.row.sideBar-body
									.col-md-3.col-sm-3.col-xs-3.sideBar-avatar
										.avatar-icon
											img(src='img/avatars/avatar-twelve.png')
									.col-md-7.col-sm-9.col-xs-9.sideBar-main
										.row
											.col-md-4.col-sm-8.col-xs-8.sideBar-name
												span.name-meta Margriet
											.col-md-4.col-sm-4.col-xs-4.pull-right.sideBar-time
												span.time-meta.pull-right 18:18
										.row
											.col-md-4.col-sm-8.col-xs-8
												span Waar ben je?
					//- 	.side-two
					//- 		.row.newMessage-heading
					//- 			.row.newMessage-main
					//- 				.col-sm-2.col-xs-2.newMessage-back
					//- 					i.fa.fa-arrow-left(aria-hidden='true')
					//- 				.col-sm-10.col-xs-10.newMessage-title New Chat
					//- 		.row.composeBox
					//- 			.col-sm-12.composeBox-inner
					//- 				.form-group.has-feedback
					//- 					input#composeText.form-control(type='text', name='searchText', placeholder='Search People')
					//- 					span.glyphicon.glyphicon-search.form-control-feedback
					//- 		.row.compose-sideBar
					//- 			.row.sideBar-body
					//- 				.col-sm-3.col-xs-3.sideBar-avatar
					//- 					.avatar-icon
					//- 						img(src='https://bootdey.com/img/Content/avatar/avatar1.png')
					//- 				.col-sm-9.col-xs-9.sideBar-main
					//- 					.row
					//- 						.col-sm-8.col-xs-8.sideBar-name
					//- 							span.name-meta John Doe
					//- 						.col-sm-4.col-xs-4.pull-right.sideBar-time
					//- 							span.time-meta.pull-right 18:18
					//- 			.row.sideBar-body
					//- 				.col-sm-3.col-xs-3.sideBar-avatar
					//- 					.avatar-icon
					//- 						img(src='https://bootdey.com/img/Content/avatar/avatar2.png')
					//- 				.col-sm-9.col-xs-9.sideBar-main
					//- 					.row
					//- 						.col-sm-8.col-xs-8.sideBar-name
					//- 							span.name-meta John Doe
					//- 						.col-sm-4.col-xs-4.pull-right.sideBar-time
					//- 							span.time-meta.pull-right 18:18
					//- 			.row.sideBar-body
					//- 				.col-sm-3.col-xs-3.sideBar-avatar
					//- 					.avatar-icon
					//- 						img(src='https://bootdey.com/img/Content/avatar/avatar3.png')
					//- 				.col-sm-9.col-xs-9.sideBar-main
					//- 					.row
					//- 						.col-sm-8.col-xs-8.sideBar-name
					//- 							span.name-meta John Doe
					//- 						.col-sm-4.col-xs-4.pull-right.sideBar-time
					//- 							span.time-meta.pull-right 18:18
					//- 			.row.sideBar-body
					//- 				.col-sm-3.col-xs-3.sideBar-avatar
					//- 					.avatar-icon
					//- 						img(src='https://bootdey.com/img/Content/avatar/avatar4.png')
					//- 				.col-sm-9.col-xs-9.sideBar-main
					//- 					.row
					//- 						.col-sm-8.col-xs-8.sideBar-name
					//- 							span.name-meta John Doe
					//- 						.col-sm-4.col-xs-4.pull-right.sideBar-time
					//- 							span.time-meta.pull-right 18:18
					//- 			.row.sideBar-body
					//- 				.col-sm-3.col-xs-3.sideBar-avatar
					//- 					.avatar-icon
					//- 						img(src='https://bootdey.com/img/Content/avatar/avatar5.png')
					//- 				.col-sm-9.col-xs-9.sideBar-main
					//- 					.row
					//- 						.col-sm-8.col-xs-8.sideBar-name
					//- 							span.name-meta John Doe
					//- 						.col-sm-4.col-xs-4.pull-right.sideBar-time
					//- 							span.time-meta.pull-right 18:18
					//- 			.row.sideBar-body
					//- 				.col-sm-3.col-xs-3.sideBar-avatar
					//- 					.avatar-icon
					//- 						img(src='https://bootdey.com/img/Content/avatar/avatar6.png')
					//- 				.col-sm-9.col-xs-9.sideBar-main
					//- 					.row
					//- 						.col-sm-8.col-xs-8.sideBar-name
					//- 							span.name-meta John Doe
					//- 						.col-sm-4.col-xs-4.pull-right.sideBar-time
					//- 							span.time-meta.pull-right 18:18
					//- 			.row.sideBar-body
					//- 				.col-sm-3.col-xs-3.sideBar-avatar
					//- 					.avatar-icon
					//- 						img(src='https://bootdey.com/img/Content/avatar/avatar2.png')
					//- 				.col-sm-9.col-xs-9.sideBar-main
					//- 					.row
					//- 						.col-sm-8.col-xs-8.sideBar-name
					//- 							span.name-meta John Doe
					//- 						.col-sm-4.col-xs-4.pull-right.sideBar-time
					//- 							span.time-meta.pull-right 18:18
					//- 			.row.sideBar-body
					//- 				.col-sm-3.col-xs-3.sideBar-avatar
					//- 					.avatar-icon
					//- 						img(src='https://bootdey.com/img/Content/avatar/avatar3.png')
					//- 				.col-sm-9.col-xs-9.sideBar-main
					//- 					.row
					//- 						.col-sm-8.col-xs-8.sideBar-name
					//- 							span.name-meta John Doe
					//- 						.col-sm-4.col-xs-4.pull-right.sideBar-time
					//- 							span.time-meta.pull-right 18:18
					//- 			.row.sideBar-body
					//- 				.col-sm-3.col-xs-3.sideBar-avatar
					//- 					.avatar-icon
					//- 						img(src='https://bootdey.com/img/Content/avatar/avatar4.png')
					//- 				.col-sm-9.col-xs-9.sideBar-main
					//- 					.row
					//- 						.col-sm-8.col-xs-8.sideBar-name
					//- 							span.name-meta John Doe
					//- 						.col-sm-4.col-xs-4.pull-right.sideBar-time
					//- 							span.time-meta.pull-right 18:18
					//- 			.row.sideBar-body
					//- 				.col-sm-3.col-xs-3.sideBar-avatar
					//- 					.avatar-icon
					//- 						img(src='https://bootdey.com/img/Content/avatar/avatar5.png')
					//- 				.col-sm-9.col-xs-9.sideBar-main
					//- 					.row
					//- 						.col-sm-8.col-xs-8.sideBar-name
					//- 							span.name-meta John Doe
					//- 						.col-sm-4.col-xs-4.pull-right.sideBar-time
					//- 							span.time-meta.pull-right 18:18
					//- .row.reply
					//- 	.col-sm-1.col-xs-1.reply-emojis
					//- 		i.fa.fa-smile-o.fa-2x
					//- 	.col-sm-9.col-xs-9.reply-main
					//- 		textarea#comment.form-control(rows='1')
					//- 	.col-sm-1.col-xs-1.reply-recording
					//- 		i.fa.fa-microphone.fa-2x(aria-hidden='true')
					//- 	.col-sm-1.col-xs-1.reply-send
					//- 		i.fa.fa-send.fa-2x(aria-hidden='true')



			//- .wrapper
			//- 	img(src="img/emma.png")
			//- 	h4 Emma
			//- .wrapper
			//- 	img(src="img/emma.png")
			//- 	h4 Emma
			//- .wrapper
			//- 	img(src="img/emma.png")
			//- 	h4 Emma
			//- .wrapper
			//- 	img(src="img/emma.png")
			//- 	h4 Emma
			//- .wrapper
			//- 	img(src="img/emma.png")
			//- 	h4 Emma				
		include bottomNavbar