doctype html
html(lang='en')
	head
		title Chat feed
		link(href ='css/bootstrap.min.css' type='text/css' rel='stylesheet')
		include bottomNavbarStyle
		include fonts
		link(href ='css/bottomNavbar.css' type='text/css' rel='stylesheet')
		link(href ='css/chatFeed.css' type='text/css' rel='stylesheet')
		link(href ='css/topNavbar.css' type='text/css' rel='stylesheet')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
	body
		include topNavbar
		.container
			.wrapper
				img(src="img/emma.png")
		include bottomNavbar