doctype html
html(lang='en')
	head
		link(href ='css/bootstrap.min.css' type='text/css' rel='stylesheet')
		include bottomNavbarStyle
		link(href ='css/index.css' type='text/css' rel='stylesheet')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
		link(href ='css/bottomNavbar.css' type='text/css' rel='stylesheet')
		link(href ='css/topNavbar.css' type='text/css' rel='stylesheet')
	body
		.container.text-center
			h1 Gefeliciteerd! Je hebt met succes de volgende vrienden een uitnodiging gestuurd: 
			//- if Array.isArray(people)
			each person in people
				h3 #{person.name}
			//- else
			//- 	h3 #{people.name}
		include bottomNavbar