doctype html
html(lang='en')
	head
		link(href ='css/bootstrap.min.css' type='text/css' rel='stylesheet')
		link(href ='css/home.css' type='text/css' rel='stylesheet')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
	body
		.container
			.col-md-4.col-md-push-4.col-xs-8.col-xs-push-2.text-center
				.myForm
					h1.header Welkom bij de <span style="color: red">Vriendendienst</span> app van KWF
					form(method='post', action='/login', autocomplete="off")
						button.btn.btn-link.btn-lg
							a(href='/login') Sign In
						p Don't have an account yet?
						a(href='/register') Sign up
