doctype html
html(lang='en')
	head
		title Activity
		link(href ='css/bootstrap.min.css' type='text/css' rel='stylesheet')
		link(href ='css/index.css' type='text/css' rel='stylesheet')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
	body
<<<<<<< HEAD
		h1 Welkom #{user}!
		a(href="/activity") Plan activity
		a(href="/logout") Logout
=======
		.container
			.text-center
				h1 Welcome #{user}
				button.btn.btn-md.btn-primary <a href="/activity"> Plan activity
				br
				a(href="/logout") Logout
>>>>>>> 8ffd8caa7bbffbdb57e68d9dbcb039092af16e80
