doctype html
html(lang='en')
	head
		link(href ='css/bootstrap.min.css' type='text/css' rel='stylesheet')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
		link(href ='css/inviteFriends.css' type='text/css' rel='stylesheet')
		link(href ='css/name.css' type='text/css' rel='stylesheet')
		link(href ='css/bottomNavbar.css' type='text/css' rel='stylesheet')
		link(href ='css/topNavbar.css' type='text/css' rel='stylesheet')
		link(href ='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' type='text/css' rel='stylesheet')
	body
		nav.navbar-fixed-top.navbar.navbar-default
			.row
				.col-xs-6.left.edit
				.col-xs-6.right.edit
				img.image(src='img/kwfLogo.png')
		.container-one
			form(method='post', action='/inviteFriends')
				h4.text-center.tekst Nodig Vrienden Uit
				.col-md-6.col-md-push-3.col-xs-8.col-xs-push-2.text-center
					.radio
						a(href="/messages")
							img.foto(src='img/smsLogo.png' type='radio', id='WhatsApp' name='inviteFriends' value='SMS' disabled)
					.radio
						a(href="/sendEmails")
							img.foto(src='img/gmailLogo.png' type='radio', id='fbMessenger' name='inviteFriends' value='Gmail' disabled)
					//- h4.move Nodig Vrienden Uit:
					//- .radio
					//- 	label
					//- 		input(type='radio', id='WhatsApp' name='inviteFriends' value='WhatsApp' disabled)
					//- 		| WhatsApp
					//- .radio
					//- 	label
					//- 		input(type='radio', id='fbMessenger' name='inviteFriends' value='fbMessenger' disabled)
					//- 		| FB Messenger
					//- .radio
					//- 	label
					//- 		input(type='radio', id='SMS' name='inviteFriends' value='SMS')
					//- 		| SMS
					//- .radio
					//- 	label
					//- 		input(type='radio', id='Gmail' name='inviteFriends' value='Gmail')
					//- 		| Gmail
					//- button.btn.btn-success.btn-lg.submit Invite Friends
		.wrapper.navbar-fixed-bottom
			.box.box1
				a(href="/addFriends")
					i.fa.fa-user-plus(aria-hidden='true')
					h5 Vrienden
			.box.box2
				a(href="/index")
					i.fa.fa-list(aria-hidden='true')
					h5 Activiteiten
			.box.box3
				a(href="/Activity")
					i.fa.fa-plus-circle(aria-hidden='true')
					h5 Plannen
			.box.box4
				a(href="/messages")
					i.fa.fa-comments(aria-hidden='true')
					h5 Berichten
			.box.box5
				a(href="/profile")
					i.fa.fa-user(aria-hidden='true')
					h5 Profiel



			//- h1.text-center Nodig Vrienden:
			//- .col-md-6.col-md-push-3.col-xs-8.col-xs-push-2.text-center
			//- 	img(src='img/fbLogo.jpg')
			//- 	img(src='img/gmailLogo.png') 
			//- 	p <a href='/name'> Other
