doctype html
html(lang='en')
	head
		link(href ='css/bootstrap.min.css' type='text/css' rel='stylesheet')
		include bottomNavbarStyle
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
		link(href ='css/inviteFriends.css' type='text/css' rel='stylesheet')
		link(href ='css/name.css' type='text/css' rel='stylesheet')
		link(href ='css/bottomNavbar.css' type='text/css' rel='stylesheet')
		link(href ='css/topNavbar.css' type='text/css' rel='stylesheet')
		link(href ='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' type='text/css' rel='stylesheet')
	body
		include topNavbar
		.container-one
			.container
				.flex-col
					.flex-row
						if note
							.check.text-center
								img.imageOne(src='img/emma.png')
							.check.tekstbubbels
								.talk-bubble.tri-right.round
									.talktext
										p.text-center
											| Er zijn geen vrienden om toe te voegen
								.talk-bubble.tri-right.round
									.talktext
										p.text-center
											| Je kan wel vrienden uitnodigen via SMS of Mail?
						else
							.check.text-center
								img.imageOne(src='img/emma.png')
							.check.tekstbubbels
								.talk-bubble.tri-right.round
									.talktext
										p.text-center
											| Goed gedaan! Je kan nu activiteiten plannen met je vrienden!
								.talk-bubble.tri-right.round
									.talktext
										p.text-center
											| Wil je nog meer vrienden uitnodigen via SMS of Mail?
		.row.text-center.logos
			.radio.col-md-2.col-md-push-4.col-xs-4.col-xs-push-2
				a(href="/messages")
					img.foto(src='img/smsLogo.png' type='radio', id='WhatsApp' name='inviteFriends' value='SMS' disabled)
			.radio.col-md-2.col-md-push-4.col-xs-4.col-xs-push-2
				a(href="/sendEmails")
					img.foto(src='img/gmailLogo.png' type='radio', id='fbMessenger' name='inviteFriends' value='Gmail' disabled)
		.row
			.col-md-4.col-md-push-4.col-xs-8.col-xs-push-2.text-center.neeDankje
				a.btn-lg.btn-success.submitStyle(href="/index") Nee dankje
					//- h4.move Nodig Vrienden Uit:
					//- .radio
					//- 	label
					//- 		input(type='radio', id='WhatsApp' name='inviteFriends' value='WhatsApp' disabled)
					//- 		| WhatsApp
					//- .radio
					//- 	label
					//- 		input(type='radio', id='fbMessenger' name='inviteFriends' value='fbMessenger' disabled)
					//- 		| FB Messenger
					//- .radio
					//- 	label
					//- 		input(type='radio', id='SMS' name='inviteFriends' value='SMS')
					//- 		| SMS
					//- .radio
					//- 	label
					//- 		input(type='radio', id='Gmail' name='inviteFriends' value='Gmail')
					//- 		| Gmail
					//- button.btn.btn-success.btn-lg.submit Invite Friends
		include bottomNavbar
