doctype html
html(lang='en')
	head
		link(href ='css/bootstrap.min.css' type='text/css' rel='stylesheet')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
	body
		.container
			h1 Thank you for adding your friends!
			h2 Can I meet your other friends which are not on the platform yet?
				.container
					h2 Invite Friends To Network
					.checkbox
						label
							input(type='checkbox', value='')
							| WhatsApp
					.checkbox
						label
							input(type='checkbox', value='')
							| FB Messenger
					.checkbox
						label
							input(type='checkbox', value='')
							| SMS
					.checkbox.disabled
						label
							input(type='checkbox', value='', disabled='')
							| Gmail
					button.btn.btn-lg
						a(href='/profile') Invite Friends