doctype html
html(lang='en')
	head
		link(href ='css/bootstrap.min.css' type='text/css' rel='stylesheet')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
		link(href ='css/inviteFriends.css' type='text/css' rel='stylesheet')
	body
		.container
			h2 Thank you for adding your friends!
			h3 Can I meet your other friends which are not on the platform yet?
			form(method='post', action='/inviteFriends')
				.container.vrienden
					h4 Invite Friends To Network
					.radio
						label
							input(type='radio', id='WhatsApp' name='inviteFriends' value='WhatsApp' disabled)
							| WhatsApp
					.radio
						label
							input(type='radio', id='fbMessenger' name='inviteFriends' value='fbMessenger' disabled)
							| FB Messenger
					.radio
						label
							input(type='radio', id='SMS' name='inviteFriends' value='SMS')
							| SMS
					.radio
						label
							input(type='radio', id='Gmail' name='inviteFriends' value='Gmail')
							| Gmail
					button.btn.btn-success.btn-lg.submit Invite Friends
						

		nav.navbar-fixed-bottom.navbar.navbar-default
			.container
				.row
					ul.nav.nav-justified
						li.active
							a(href="/activity") Plan Activity
						li
							a(href='/addFriends') Add Friends
						li
							a(href='/notification') Notification
						li
							a(href='/profile') Profile
