doctype html
html(lang='en')
	head
		link(href ='css/bootstrap.min.css' type='text/css' rel='stylesheet')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
		link(href ='css/inviteFriends.css' type='text/css' rel='stylesheet')
		link(href ='css/name.css' type='text/css' rel='stylesheet')
		link(href ='css/bottomNavbar.css' type='text/css' rel='stylesheet')
		link(href ='css/topNavbar.css' type='text/css' rel='stylesheet')
		link(href ='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' type='text/css' rel='stylesheet')
	body
		nav.navbar-fixed-top.navbar.navbar-default
			.row
				.col-xs-6.left.edit
				.col-xs-6.right.edit
				img.image(src='img/kwfLogo.png')
		.container-one
			.container
				.flex-col
					.flex-row
						.check.text-center
							img.imageOne(src='img/emma.png')
						.check.tekstbubbels
							.talk-bubble.tri-right.round
								.talktext
									p.text-center
										| Het lijkt erop dat er nog weinig vrienden op dit platform zijn
							.talk-bubble.tri-right.round
								.talktext
									p.text-center
										| Laten we ze uitnodigen via SMS of Mail
		.row.text-center.logos
			.radio.col-md-3.col-md-push-4.col-xs-6
				a(href="/messages")
					img.foto(src='img/smsLogo.png' type='radio', id='WhatsApp' name='inviteFriends' value='SMS' disabled)
			.radio.col-md-3.col-md-push-2.col-xs-6
				a(href="/sendEmails")
					img.foto(src='img/gmailLogo.png' type='radio', id='fbMessenger' name='inviteFriends' value='Gmail' disabled)
					//- h4.move Nodig Vrienden Uit:
					//- .radio
					//- 	label
					//- 		input(type='radio', id='WhatsApp' name='inviteFriends' value='WhatsApp' disabled)
					//- 		| WhatsApp
					//- .radio
					//- 	label
					//- 		input(type='radio', id='fbMessenger' name='inviteFriends' value='fbMessenger' disabled)
					//- 		| FB Messenger
					//- .radio
					//- 	label
					//- 		input(type='radio', id='SMS' name='inviteFriends' value='SMS')
					//- 		| SMS
					//- .radio
					//- 	label
					//- 		input(type='radio', id='Gmail' name='inviteFriends' value='Gmail')
					//- 		| Gmail
					//- button.btn.btn-success.btn-lg.submit Invite Friends
		include bottomNavbar



			//- h1.text-center Nodig Vrienden:
			//- .col-md-6.col-md-push-3.col-xs-8.col-xs-push-2.text-center
			//- 	img(src='img/fbLogo.jpg')
			//- 	img(src='img/gmailLogo.png') 
			//- 	p <a href='/name'> Other
