doctype html
html(lang='en')
	head
		link(href ='css/bootstrap.min.css' type='text/css' rel='stylesheet')
		link(href ='css/bootstrap-theme.min.css' type='text/css' rel='stylesheet')
		link(href ='css/register.css' type='text/css' rel='stylesheet')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
	body
		h1 Welcome to FriendMagnet, Please Login!
		form(method='post', action='/login', autocomplete="off")
			input(class="login", type="text", name="username", placeholder="username")
			br
			input(class="login", type="password", name="password", placeholder="password")
			br
			input(class="submit" type="submit", value="Log in")
			br
			a(href='/register') Register here!


