doctype html
html(lang='en')
	head
		link(href ='css/bootstrap.min.css' type='text/css' rel='stylesheet')
		link(href ='css/login.css' type='text/css' rel='stylesheet')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
	body
		.container
			h1.text-center Welcome to <span style="color: red">Vriendendienst</span>, Please Login!
			.col-md-6.col-md-push-3.col-xs-8.col-xs-push-2.text-center
				form(method='post', action='/login', autocomplete="off")
					.form-group
						input.form-control(class="login", type="text", name="username", value="Rawan")
					.form-group
						input.form-control(class="login", type="password", name="password", value="1234r")
					.form-group
						button.btn.form-control(class="submit" type="submit") Log in
					a(href='/register') Register here!


