doctype html
html(lang='en')
	head
		link(href ='css/bootstrap.min.css' type='text/css' rel='stylesheet')
		include bottomNavbarStyle
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
		link(href ='css/inviteFriends.css' type='text/css' rel='stylesheet')
		link(href ='css/bottomNavbar.css' type='text/css' rel='stylesheet')
		link(href ='css/topNavbar.css' type='text/css' rel='stylesheet')
	body
		include topNavbar
		.container
			.container.vrienden
				if done
					h1 Invitation has been sent
				h4.text-center Nodig vrienden uit via SMS
				form(method='post', action='/messages', autocomplete="off")
					.form-group
						input.form-control(type="text", name="name" placeholder="Friend's Name")
					.form-group
						input.form-control(type="text", name="to" placeholder="Friend's Number")
					.form-group.text-center
						input#more_fields(type='button', value='Add More')
						button.styleInvite.btn.form-control(class="submit" type="submit") Invite!
		include bottomNavbar
		script(src='js/jquery-3.2.1.js')
		script(src='js/messages.js')