doctype html
html(lang='en')
	head 
		title Activiteit
		link(href ='css/bootstrap.min.css' type='text/css' rel='stylesheet')
		//- link(href ='css/time.css' type='text/css' rel='stylesheet')
		link(href ='css/bottomNavbar.css' type='text/css' rel='stylesheet')
		link(href ='css/topNavbar.css' type='text/css' rel='stylesheet')
		link(href ='css/sendEmails.css' type='text/css' rel='stylesheet')
		include bottomNavbarStyle
		include fonts
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
		link(href ='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' type='text/css' rel='stylesheet')
	body
		include topNavbar				
		.container
			.text-center
				h1.header Activiteit inplannen
				.flex-col.NoActivity
					.flex-row
						.check.text-center
							img.imageOne.NoActivityEmma(src='img/emma.png')
						.check.tekstbubbels
							form.formStyleDate(method='post', action='/messages', autocomplete="off")
								.talk-bubble
									.talktext.text-center
										p Nodig vrienden uit via SMS
										input.inputStyleDate#registration-date.form-control(type="text", name="name" placeholder="Naam")
										input.inputStyleTime#registration-time.form-control(type="text", name="to" placeholder="Telefoonnummer (+316)")
										button.btn.form-control.uitnodigenStyle#more_fields.text-center(type="button") Meer vrienden uitnodigen
								button.col-md-4.col-md-push-4.col-xs-8.col-xs-push-2.text-center.styleInvite.btn.form-control.btn-success.btn-lg.submit(class="submit" type="submit") Verstuur
		include bottomNavbar
		script(src='js/jquery-3.2.1.js')
		script(src='js/messages.js')


//- doctype html
//- html(lang='en')
//- 	head
//- 		link(href ='css/bootstrap.min.css' type='text/css' rel='stylesheet')
//- 		include bottomNavbarStyle
//- 		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
//- 		link(href ='css/sendEmails.css' type='text/css' rel='stylesheet')
//- 		link(href ='css/bottomNavbar.css' type='text/css' rel='stylesheet')
//- 		link(href ='css/topNavbar.css' type='text/css' rel='stylesheet')
//- 	body
//- 		include topNavbar
//- 		.container
//- 			.container.vrienden
//- 				if done
//- 					h1 Invitation has been sent
//- 				h4.text-center Nodig vrienden uit via SMS
//- 				form(method='post', action='/messages', autocomplete="off")
//- 					.form-group
//- 						input.form-control(type="text", name="name" placeholder="Naam")
//- 					.form-group
//- 						input.form-control(type="text", name="to" value="+316")
//- 					.form-group.text-center
//- 						input#more_fields(type='button', value='Add More')
//- 						button.styleInvite.btn.form-control(class="submit" type="submit") Invite!
//- 		include bottomNavbar
//- 		script(src='js/jquery-3.2.1.js')
//- 		script(src='js/messages.js')