doctype html
html(lang='en')
	head
		link(href ='css/bootstrap.min.css' type='text/css' rel='stylesheet')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
		link(href ='css/inviteFriends.css' type='text/css' rel='stylesheet')
	body
		.container
			.container.vrienden
				if done
					h1 Invitation has been sent
				h4 Invite Friends Via SMS
				form(method='post', action='/messages', autocomplete="off" id='wrapper')
					.form-group
						input.form-control(type="text", name="name" placeholder="Friend's Name")
					.form-group
						input.form-control(type="text", name="to" placeholder="Friend's Number")
					.form-group
						input#more_fields(type='button', value='Add More')
						button.btn.form-control(class="submit" type="submit") Invite!
		nav.navbar-fixed-bottom.navbar.navbar-default
			.container
				.row
					ul.nav.nav-justified
						li.active
							a(href="/activity") Plan Activity
						li
							a(href='/addFriends') Add Friends
						li
							a(href='/notification') Notification
						li
							a(href='/profile') Profile
		script(src='js/jquery-3.2.1.js')
		script(src='js/messages.js')