doctype html
html(lang='en')
	head
		link(href ='css/bootstrap.min.css' type='text/css' rel='stylesheet')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
		link(href ='css/inviteFriends.css' type='text/css' rel='stylesheet')
		link(href ='css/bottomNavbar.css' type='text/css' rel='stylesheet')
		link(href ='css/topNavbar.css' type='text/css' rel='stylesheet')
		link(href ='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' type='text/css' rel='stylesheet')
	body
		nav.navbar-fixed-top.navbar.navbar-default
			.row
				.col-xs-6.left.edit
				.col-xs-6.right.edit
				img.image(src='img/kwfLogo.png')
		.container
			.container.vrienden
				if done
					h1 Invitation has been sent
				h4 Invite Friends Via SMS
				form(method='post', action='/messages', autocomplete="off")
					.form-group
						input.form-control(type="text", name="name" placeholder="Friend's Name")
					.form-group
						input.form-control(type="text", name="to" placeholder="Friend's Number")
					.form-group.text-center
						input#more_fields(type='button', value='Add More')
						button.btn.form-control(class="submit" type="submit") Invite!
		.wrapper.navbar-fixed-bottom
			.box.box1
				a(href="/addFriends")
					i.fa.fa-user-plus(aria-hidden='true')
					h5 Vrienden
			.box.box2
				a(href="/index")
					i.fa.fa-list(aria-hidden='true')
					h5 Activiteiten
			.box.box3
				a(href="/Activity")
					i.fa.fa-plus-circle(aria-hidden='true')
					h5 Plannen
			.box.box4
				a(href="/messages")
					i.fa.fa-comments(aria-hidden='true')
					h5 Berichten
			.box.box5
				a(href="/profile")
					i.fa.fa-user(aria-hidden='true')
					h5 Profiel
		script(src='js/jquery-3.2.1.js')
		script(src='js/messages.js')