doctype html
html(lang='en')
	head
		title Activity
		link(href ='css/bootstrap.min.css' type='text/css' rel='stylesheet')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
	body
		.container.col-md-6.col-md-push-3.col-xs-8.col-xs-push-2.text-center
			h1 What shall I call you?
			form(method='post', action='/name', autocomplete="off")
				input(class="login", type="text", name="name", placeholder="Naam")
				input(class="submit" type="submit", value="Next")