doctype html
html(lang='en')
	head
		title Activity
		link(href ='css/bootstrap.min.css' type='text/css' rel='stylesheet')
		link(href = 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' type='text/css' rel='stylesheet')
		link(href ='css/noFriends.css' type='text/css' rel='stylesheet')
		link(href ='css/bottomNavbar.css' type='text/css' rel='stylesheet')
		link(href ='css/topNavbar.css' type='text/css' rel='stylesheet')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
	body
		nav.navbar-fixed-top.navbar.navbar-default
			.row
				.col-xs-6.left.edit
				.col-xs-6.right.edit
				img.image(src='img/kwfLogo.png')
		.container
			.flex-col
				.flex-row
					.check.text-center
						img.imageOne(src='img/emma.png')
					.check.tekstbubbels
						.talk-bubble.tri-right.round
							.talktext
								p.text-center
									| Het lijkt erop dat je vrienden niet beschikbaar zijn. Wil je vrijwilligers bereiken?
		.col-md-6.col-md-push-3.col-xs-10.col-xs-push-1.buttonStyle.text-center
			a.button-one.btn.btn-primary.btn-lg(type='button' href="/volunteers") Ja graag!
			button.button-two.btn.btn-danger.btn-lg.btn-outline(type='button' href="/inviteFriends") Nee dankje

		include bottomNavbar