doctype html
html(lang='en')
	head
		link(href ='css/bootstrap.min.css' type='text/css' rel='stylesheet')
		include bottomNavbarStyle
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
		link(href ='css/volunteers.css' type='text/css' rel='stylesheet')
		link(href ='css/bottomNavbar.css' type='text/css' rel='stylesheet')
		link(href ='css/topNavbar.css' type='text/css' rel='stylesheet')
	body
		.row
			.col-xs-2.styleBackButton
				a(href='javascript:history.back()')
					i.backBtn.fa.fa-chevron-left.fa-lg(aria-hidden='true')
		nav.navbar-fixed-top.navbar.navbar-default
			.row
				.col-xs-12
					.col-xs-6.left.edit
					.col-xs-6.right.edit
					//- img.image(src='img/kwfLogo.png')
		.container-fluid
			.text-center
				h1.header Vriendendienst
			.col-md-6.col-md-push-3.col-xs-12.text-center.wrapper-one
				img.imageStyle(src='img/profielPierre.png')
		include bottomNavbar
		