doctype html
html(lang='en')
	head
		title Activity
		link(href ='css/bootstrap.min.css' type='text/css' rel='stylesheet')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
		link(href ='css/profile.css' type='text/css' rel='stylesheet')
	body
		.container
			h1.text-center Welcome to your profile #{user.name}
			img.foto(src=user.image)
			if friends
				h2 These are your friends!
					each friend in friends
						h3 #{friend}
			else
				h2 You don't have any friends yet! <a href='/addFriends'>Add your friends
			Button(type='button')
				a(href='/logout') Log out
		nav.navbar-fixed-bottom.navbar.navbar-default
			.container
				.row
					ul.nav.nav-justified
						li.active
							a(href="/activity") Plan activity
						li
							a(href='/addFriends') Add friends
						li
							a(href='/notification') Notification
						li
							a(href='/profile') Profile
