doctype html
html(lang='en')
	head
		title Activity
		link(href ='css/bootstrap.min.css' type='text/css' rel='stylesheet')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
	body
		.container.col-md-6.col-md-push-3.col-xs-8.col-xs-push-2.text-center
			h1 Nice to meet you #{name}
			h2 How may I reach you
			form(method='post', action='/reachMethod?name='+ name, autocomplete="off")
				input(class="login", type="text", name="email", placeholder="Email")
				input(class="login", type="text", name="number", placeholder="Phone Number")
				input(class="submit" type="submit", value="Next")