h1 Welcome to FriendMagnet, Please Register!
	form(method='post', action='/register', autocomplete="off")
		input(class="login", type="text", name="username", placeholder="username")
		br
		input(class="login", type="password", name="password", placeholder="password")
		br
		input(class="login", type="text", name="email", placeholder="email")
		br
		input(class="submit" type="submit", value="Register")
