doctype html
html(lang='en')
	head
		link(href ='css/bootstrap.min.css' type='text/css' rel='stylesheet')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
		link(href ='css/signin.css' type='text/css' rel='stylesheet')
	body
	body
		.container
			h1.text-center Nodig Vrienden:
			.col-md-6.col-md-push-3.col-xs-8.col-xs-push-2.text-center
				img(src='img/fbLogo.jpg')
				img(src='img/gmailLogo.png') 
				p <a href='/name'> Other
