doctype html
html(lang='en')
	head
		link(href ='css/bootstrap.min.css' type='text/css' rel='stylesheet')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
	body
		.container
			h1.text-center Inloggen
			h3.text-center Met:
			.col-md-6.col-md-push-3.col-xs-8.col-xs-push-2.text-center
				p Facebook
				p Gmail
				p <a href='/register'> Other
