/* Surrounding div */
div.categorie {
	margin-top: 95px;
}

/* Surrounding div of squares */
.col-md-8.col-md-push-2.col-xs-12 {
	margin-bottom: 120px;
}


.col-md-4.col-xs-6 {
	padding: 0;
}

/* Each square */
.eachCategorie {
	border: 1px solid gray;
	padding: 1em;
	height: 15em;
	text-align: center;
}

input.img {
	height: 8.4em;
	width: 8.4em;
	margin: auto;
	outline: none;
}

/* Next Button */
button.myBtn {
	display: block;
	clear: both;
	margin-left: 290px;
	background-color: #00ACC1;
	color: white;
}

/* For mobile */
@media all and (max-width: 500px) {
	.eachCategorie {
		border: 1px solid gray;
		padding: 0.7em;
		height: 10.9em;
		text-align: center;
	}

	input.img {
		height: 5.4em;
		width: 5.4em;
		margin: auto;
	}
}