button.btn.btn-success {
	margin-bottom: 130px;
}

ul li:nth-child(odd) {  
  background-color: #FE0606;
  opacity: 0.9;
}

ul li:nth-child(even) {  
  background-color: #0153A3;
  opacity: 0.9;
}

ul a {
	color: white;
}

.names {
	position: relative;
	bottom: 22px;
}

.eachCategorie {
	border: solid 2px black;
	height: 210px;
	text-align: center;
}

.eachCategorie > i {
	font-size: 8.5em;
	color: black;
}

img.i {
	height: 8.5em;
	width: 8.5em;
	margin-top: 16px;
}

/* button.btn {
	background-color: red;
} */