.selectAllStyle {
 font-style: italic;
 font-family: Arial, Helvetica, sans-serif;
}

body {
 font-size: 17px;
}

.names {
    position: absolute;
    bottom: 34px;
}

.selectAll {
 margin-top: 50px;
 margin-right: 30px;
 padding-left: 14px;
 position: relative;
 right: 57.5px;
}

.styleLabel {
  position: relative;
  left: 57.5px;
}


.selectOne {
  /*margin-top: 50px;*/
  margin-left: -170px; 
  top: 60px;
}

h4 {
 color: white;
}

.clickNames {
margin-top: 50px;
}

.rowStyle {
   background-color: #E44541;
   position: absolute;
   margin-top: 150px;
   /* left: 100px; */
   width: 100%;
   margin-right: 0px;
   right: 0px;
   margin-left: 0px;
   height: 60px;
   padding-top: 6px;
}


ul li:nth-child(odd) {  
 background-color: #FE0606;
 opacity: 0.9;
}

ul li:nth-child(even) {  
 background-color: #0153A3;
 opacity: 0.9;
}

ul a {
color: white;
}

.tekst {
margin-top: 150px;
}

.foto {
   width: 100px;
   height: 100px;
   border-radius: 50%;
   margin-left: 130px;
}

.wrapper-one {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

h4 {
 margin-top: 14px;
}

.boks {
width: 10%
}



h3 {
display: inline;
}


/*.checkBoxStyle {
.submitStyle {
 margin-bottom: 100px;
}
/* .checkBoxStyle {
 margin-top: 50px;
 width: 70%;
}*/

/* .checkbox label, .radio label {
   min-height: 20px;
   padding-left: 20px;
   margin-bottom: 0;
   font-weight: 400;
   cursor: pointer;
   margin-bottom: -50px;
   min-height: 0px; 
   padding-left: 0px; 
   border-radius: 100%;
   transform: translate(-50%, -50%);

} */

.checkbox {
 margin-bottom: 40px;
 margin-left: 0px;
 margin-top: 50px;
}

.checkbox label:after {
 content: '';
 display: table;
 clear: both;
 font-size: 5em;
}

.checkbox .cr {
 position: relative;
 display: inline-block;
 border: 1px solid #a9a9a9;
 border-radius: .25em;
 width: 1.3em;
 height: 1.3em;
 float: left;
 margin-right: .5em;
}

.checkbox .cr .cr-icon {
 position: absolute;
 font-size: .8em;
 line-height: 0;
 top: 50%;
 left: 20%;
}

.checkbox label input[type="checkbox"] {
 display: none;
}

.checkbox label input[type="checkbox"]+.cr>.cr-icon {
 opacity: 0;
}

.checkbox label input[type="checkbox"]:checked+.cr>.cr-icon {
 opacity: 1;
}

span.cr > i.cr-icon.glyphicon.glyphicon-ok > b{
 width: 20px;
}


/* Button */
.doorgaan {
 margin-bottom: 100px;
 margin-top: 50px;
}

.change {
 width: 150px;
 background-color: #1B9AF7;
 color: white;
 font-size: 20px;
 font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}