.names {
	position: relative;
	bottom: 22px;
}

.clickNames {
	margin-top: 50px;
}

ul li:nth-child(odd) {  
  background-color: #FE0606;
  opacity: 0.9;
}

ul li:nth-child(even) {  
  background-color: #0153A3;
  opacity: 0.9;
}

ul a {
	color: white;
}

.tekst {
	margin-top: 150px;
}