/* Navbar */
.wrapper.navbar-fixed-bottom {
  display:flex;
  height: auto;
  margin-top: 100px;
  align-items: flex-end;
  line-height: 0.5px;
  background-color: #E2E2E2;
}

/* Boxs around icons */
.box {
  color: white;
  font-size: 50px;
  text-align: center;
  width: 16%;
  text-shadow: 2.5px 2.5px 0 rgba(0,0,0,0.1);
  padding: 5px 10px 0px;
  background-color: #E2E2E2;
}

.box1 {
  margin-left: 10%;
}

.box5 {
  margin-right: 10%;
}

/* Icons */
i, h5 {
  color: #7b7f84;
}

.box> a > i {
  font-size: 30px;
  margin-top: 5px;
}

/* Words under icons */
h5 {
  margin-top: 8px;
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  text-shadow: none;
}

.space {
  margin-bottom: 90px;
}

/* For mobile */
@media all and (max-width: 500px) {

  /* Boxs around icons */
  .box {
      width: 19%;
      margin: 0.5%;
  }
  /* Icons */
  .box> a > i {
    font-size: 34px;
  }
}