.btn > a {
	color: #fff;
	text-decoration: none;
}

th,td {
	text-align: center;
}

h1 {
	padding-bottom: 50px;
}

ul li:nth-child(odd) {  
  background-color: #FE0606;
  opacity: 0.9;
}

ul li:nth-child(even) {  
  background-color: #0153A3;
  opacity: 0.9;
}

ul a {
	color: white;
}

h1 {
	color: white;
	z-index: 1;
	/*position: relative;*/
}

.navbar {
	z-index: -1;
	/*position: relative;*/
}
