.btn > a {
	color: #fff;
	text-decoration: none;
}

th,td {
	text-align: center;
}

h1 {
	padding-bottom: 50px;
}

/* @media (max-width: 1230px) {
	ul.nav.nav-justified > li{
		display: inline-block;
	}
>>>>>>> 985091290f609b7a677ef11735674aae11602a81

	ul.nav.nav-justified {
		white-space:nowrap
	}



} */

.navbar-nav {
    min-width:360px;
    float: left;
    margin: 0;
}
.navbar-nav>li {
    float: left;
}

