										/* User name */
#name {
	font-weight: 900;
}

										/* Inputs */
.inp > input{
	border: 2px solid #999999;
 	width: 250px; 
	padding: 6px 5px;
	border-radius: 5px;
	color: #999999;
	font-family: 'Roboto', sans-serif;
	margin-bottom: 4px;
}

/* For mobile */
@media all and (max-width: 500px) {
	.talk-bubble {
		margin: 10px auto;
		width: 202px;
	}
	.inp > input {
	 	width: 202px;
	}
	/* Button */
	.doorgaan {
    /* margin-top: 15px; */
    position: relative;
    bottom: 120px;
}
	.change {
		width: 202px;
		background-color: #1B9AF7;
		border-radius: 7px;
		color: white;
		font-size: 24px;
		padding: 0px;
		font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
	}
}